.nav {
  grid-area: n;
  background-color: darkgray;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;

}

.item {
  background-color: rgb(10, 10, 10);
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
}

.item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.item a.activeLink {
  color: crimson;
}