.dialogs {
  display: grid;
  grid-template-areas: "di m";
  grid-template-columns: 2rf 10fr;
}

.dialogsItems {
  grid-area: di;
  padding: 10px;
}

.dialogsItems .active{
  color: crimson;
}

.messages {
  grid-area: m;
  padding: 10px;
}
/* 
.messages .message {
} */
